@font-face {
font-family: triplicate_a_poly;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('triplicate_a_poly_regular.woff2') format('woff2');
}

@font-face {
font-family: triplicate_a_poly;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('triplicate_a_poly_italic.woff2') format('woff2');
}

@font-face {
font-family: triplicate_a_poly;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('triplicate_a_poly_bold.woff2') format('woff2');
}

@font-face {
font-family: triplicate_a_poly;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('triplicate_a_poly_bold_italic.woff2') format('woff2');
}